[2022-08-23 17:40] jvanulde opened #2 "GitHub Action to configure links"
Instead of configuring the exported links in an IDE and issuing a PR, use a GitHub action to do this with environment variables.

[2022-08-23 17:42] jvanulde opened #3 "GitHub Action to check links"
Create a GitHub Action that will check all links in the static HTML. Stop PR merge if broken links are found.

[2022-08-23 17:44] jvanulde opened #4 "Create README"
Create a readme that describes the repo and its role. Be specific about the deployment workflow and describe the branch structure.

[2022-08-23 17:45] jvanulde opened #5 "GitHub Action to generate pages"
Use GitHub actions to deploy static site to the github-pages branch.

[2022-09-01 19:30] Andrea-Merry opened #6 "Update Theme Maps titles and descriptions as per attached document on Geo.ca"
[GEO_Updates.docx](https://github.com/Canadian-Geospatial-Platform/geo.ca/files/9470415/GEO_Updates.docx)
email sent September 1st, 2022
Please update map titles and descriptions for Mykhailo’s three maps as listed in attached document.

Patty, Mykhailo and I had discussed in our meeting on Tuesday, all curated maps created by Geo-Insights team use CCMEO’s basemaps hosted under this folder: [https

[2022-09-13 17:05] Andrea-Merry opened #7 "Add Canadian Basemap survey to Geo.ca"
Email sent to Chris September 1, 2022
Please see Heather’s request below to put the Canadian Basemap survey on Geo.ca. I was thinking on the main page under In the Spotlight title for maximum exposure. The other place could be on the Geo in the News page. However, I don’t think it will get a lot of traffic there.

We can have a short meeting if you want to discuss when you are back.
Thank you,
And

[2022-09-14 21:43] jvanulde opened #8 "Atlas Community"
As an Atlas user, I would like to have a community on Geo.ca, so that I can access a curated set of National Atlas products.

[2022-09-14 21:45] jvanulde opened #9 "GeoBase Initiative"
As a CCGOG member, I would like to have a GeoBase community on Geo.ca, so that I can catalogue and share my data.

[2022-09-14 21:52] jvanulde opened #10 "Basemap Community"
As a user of National basemaps, I would like to have a community on Geo.ca where I can access basemap products and services.

[2022-09-14 21:54] jvanulde opened #11 "MAPML Community"
As a MAPML community member, I would like to have a community on Geo.ca where I can go collaborate with other standards developers.

Enhance existing community page to support ongoing standards development

[2022-09-15 13:09] Andrea-Merry opened #12 "Geo.ca metadata catalogue wiki"
Geo.ca metadata catalogue wiki
0. Onboarding and Standardization of workflow
1. Software management
2. Administration
3. Troubleshooting
4. System Architecture
5. Archived
https://redmine.gcgeo.gc.ca/redmine/projects/geo-ca/wiki/Wiki
Specific details are in redmine.

[2022-09-15 19:23] Andrea-Merry opened #13 "Proposed EIF CCMEO Web Presence workplan: CCMEO on the Source"
CCMEO web content published within NRCan Source to highlight services offerings and key activities relevant to NRCan.

This will be assigned to Steven Dunning's team.

[2022-09-15 19:35] Andrea-Merry opened #14 "Proposed EIF CCMEO Web Presence workplan: CCMEO on GEO.ca"
CCMEO product integration within the GEO.ca catalogue and GEO.ca search filters.
1. Atlas products
2. Current basemap products offerings
3. CGDI Harvester data integrated within GEO.ca

* Output of CCMEO Atlas-We Presence Task team
* This work is part of the original EIF ask
* Currently no work is planned for atlas.ca for 2022-2023

[2022-09-15 19:40] Andrea-Merry opened #15 "Proposed EIF CCMEO Web Presence workplan: Integrate all CCMEO product types"
Integrated within GeoCore the capacity to register all CCMEO products and service types.

* This work is part of the original EIF ask.

[2022-09-15 19:47] Andrea-Merry opened #16 "Proposed EIF CCMEO Web Presence workplan: Provinces/Territories prototype webpage"
Build 2 provinces and territories sponsor pages.

This is very strategic to highlight the capacity to build communities while integrating the contribution made by other jurisdictions (GEO.ca).

* This work was not part of the original EIF ask

[2022-09-15 19:52] Andrea-Merry opened #17 "Proposed EIF CCMEO Web Presence workplan: User needs analysis"
CCMEO web presence positioned in terms of NRCan priorities (short, medium, long term)
Must build on ArcticSDI findings and endorsement of target audiences.

 * Output of CCMEO Atlas-Web Presence Task team

[2022-09-16 19:00] jvanulde opened #18 "Restructure repo"
- create "main" branch
- create version(s)
- document deployment process in readme
- create actions to push to github pages (hold off for now pending approval from Directors office)
- create actions to push to staging branch

[2022-09-16 19:02] jvanulde opened #19 "Include build version"
CodeBuild needs to pull version from GitHub.

[2022-09-16 22:31] jvanulde commented on #3
`name: Links (Fail Fast)

on:
  push:
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.5.1
        with:
          # Check all markdown and html files in build directory
          args: --verbose --no-progress './build/*.md' './build/*.html'
          fail: true

[2022-09-16 22:33] jvanulde commented on #3
@indiciumx once we change the default branch to main (which I created), we can install this workflow.

[2022-09-16 23:36] jvanulde opened #21 "Earthquake Catalogue is not included in the Emergency Theme"
Offending record: https://app.geo.ca/result?id=085024ac-5a48-427a-a2ea-d62af73f2142&lang=en

I noticed a couple of things:

1. The datasets that are part of that collection are not linked
2. The record is not included in the emergency theme

[2022-09-20 16:35] bo-lu commented on #21
Hi Joost,

The uuid has been added to the emergency theme on dev:

![image](https://user-images.githubusercontent.com/18405829/191314646-e6bcbcce-aab1-475c-83a1-fcbe5e9d881b.png)

[2022-09-20 19:31] jvanulde commented on #21
Once this has been pushed to PROD we can close.

[2022-09-21 18:12] bo-lu commented on #21
For #2, an API is ready to display child records. E.g., https://geocore-dev.api.geo.ca/collections?uuid=085024ac-5a48-427a-a2ea-d62af73f2142

And if the record is a child record, display its parent and siblings. E.g., https://geocore-dev.api.geo.ca/collections?uuid=26c57e53-2646-491b-b385-5813b23d8a96

[2022-09-23 14:41] jvanulde commented on #6
@indiciumx can you update the status of this issue in https://github.com/orgs/Canadian-Geospatial-Platform/projects/5 please.

[2022-09-23 14:42] jvanulde commented on #7
@indiciumx can you update the status of this in https://github.com/orgs/Canadian-Geospatial-Platform/projects/5 please.

[2022-09-23 14:44] jvanulde commented on #9
@sean-eagles can you provide links to the relevant pages in this issue as a comment. Might be a good to attach the PDF representation as well.

[2022-09-23 15:07] indiciumx commented on #6
@Andrea-Merry I don't have access to that folder. Can someone grab the configs and either put them here or on GCDocs?

[2022-09-23 15:09] sean-eagles commented on #9
Here are links to the relevant pages for GeoBase:
1 - GeoBase - Homepage: https://wordpress.dev.geo.ca/wordpress/geobase-homepage-2/

2 - GeoBase - History: https://wordpress.dev.geo.ca/wordpress/geobase-history/
3 - GeoBase - About: https://wordpress.dev.geo.ca/wordpress/geobase-about/
4 - GeoBase - Principles: https://wordpress.dev.geo.ca/wordpress/geobase-principles/
5 - GeoBase-Aboriginal Land

[2022-09-23 15:14] indiciumx commented on #19
We'll have to tie this in to the auto build and url replace in github actions. Task might be best done with one of the developers coming in.

[2022-09-23 15:16] indiciumx commented on #12
redmine is locked to a user account. We should move specifics here so we can assign contractors.

[2022-09-28 13:39] Andrea-Merry opened #23 "Proposed EIF CCMEO Web Presence workplan: CCMEO sponsor/contributor page"

[2022-09-28 13:41] Andrea-Merry commented on #23
Create CCMEO carte de visite within Geo.ca
* output of Atlas-web presence task team

[2022-09-29 02:14] indiciumx opened #24 "New Basemaps URL"
All Maps need to be changed to take in the new basemap locations. Received the new configuration files

[2022-10-03 16:23] indiciumx opened #25 "New Basemaps for Leaflet"
The leaflet maps will have to change to the new basemaps endpoints.

[2022-10-03 16:24] indiciumx opened #26 "Economy Leaflet map issues"
•	Theme Économie >> map: Ententes minières avec les Autochtones (actives) >> wrong preview map (first nation location)
•	Theme Economy >>  map: Indigenous Mining Agreements (Active)  >> wrong preview map (basemap?)

[2022-10-03 16:24] indiciumx opened #27 "Emergency Theme Map issues"
•	Theme Emergency >> map: Earthquakes in Canada  >> both title and "Full Map" link to the Dataset page, not to the map directly
•	Same problem for the French version
•	Theme Emergency >> map: National Fire Database – Agency Provided Fire Perimeters  >> both title and "Full Map" link to a map with only basemap, no thematic layer displayed
•	Same problem for the French version

[2022-10-03 16:24] indiciumx opened #28 "Infrastructure Map issue"
•	Theme Infrastructure >> map: Réseau routier national – RRN – Série GéoBase >>both title and "Full Map" link to a wrong map (railway)

[2022-10-03 16:25] indiciumx opened #29 "Legal Map Issue"
•	Theme Legal >> map: Legislative Boundaries of Aboriginal Lands and Aboriginal Agreements >> “Full Map” links to an empty page: URL error (with extra ") [https://dev.geo.ca/wp-content/Viewer/config-int-LEGAL-iframe-map-en.html]

[2022-10-04 21:31] indiciumx commented on #29
Extra quote at the end of URL

[2022-10-04 21:36] indiciumx commented on #28
Fixed.

[2022-10-05 13:35] Andrea-Merry opened #30 "Proposed EIF CCMEO Web Presence workplan: GeoBase Steering Committee Page"
Build a community space for the GeoBase Steering Committee.
This is very strategic to highlight the capacity to build communities while integrating work around foundational data.
*This work was not part of the original EIF ask.

[2022-10-05 13:40] Andrea-Merry opened #31 "Proposed EIF CCMEO Web Presence workplan: Geo-CCMEO-Atlas Branding"
Initiate the development of a cohesive branding strategic integrating GEO.ca, CCMEO and the Atlas of Canada. Produce a Web Presence Framework document (modus operandi) supporting the logic behind the branding.
*Output of CCMEO Atlas-Web Presence Task team.

[2022-10-05 13:49] Andrea-Merry opened #32 "Proposed EIF CCMEO Web Presence workplan: Content Development and Coordination"
Creation of a content strategy that aligns to short-term and long-term implementation plans, and is used to guide the development of CCMEO content across all CCMEO web sites-that comprise the CCMEO Web Presence.
Content creation will include coordinating the creation of polished, harmonious and integrated content documents. This will require touchpoints with all CCMEO Divisions.
A content coordina

[2022-10-05 14:19] Andrea-Merry opened #33 "Proposed EIF CCMEO Web Presence: Atlas Community"
Community page with product offerings (e.g. endpoints, maps and digital books.

[2022-10-05 14:23] Andrea-Merry opened #34 "Proposed EIF CCMEO Web Presence workplan: Basemap Community"
Community page as placeholder for future product offerings.
*This work is part of the original EIF ask.

[2022-10-05 14:26] Andrea-Merry opened #35 "Proposed EIF CCMEO Web Presence workplan: MapML (CGDI owned)"
Enhance existing community page to support ongoing standards development.

[2022-10-05 19:16] indiciumx commented on #27
Earthquakes in Canada currently points to a record without a map. There are plenty of other "Earthquakes in Canada" but I'm not sure which one to choose. @Andrea-Merry

[2022-10-05 19:16] indiciumx commented on #27
@jvanulde is Risk Profiler ready to rock, we could change it up with that

[2022-10-06 17:37] Andrea-Merry commented on #27
@indiciumx I am not sure which map to use for Earthquakes. If you can replicate the full map that would be great.

[2022-10-06 17:59] Andrea-Merry opened #36 "Proposed EIF CCMEO Web Presence workplan: Geo.ca themes Emergency"
Demonstrating that the current Web Services available within Canada can be leveraged in an interoperable fashion to enhance existing product offering.

The selection of the Emergency themes here is strategic. Cameron Wilson is to provide more details around the deliverables here.
*This work is part of the original EIF ask

[2022-10-06 18:03] Andrea-Merry opened #37 "Proposed EIF CCMEO Web Presence work plan: Geo.ca themes Geonames API"
OGC API compliant endpoint for GNBC placenames

[2022-10-07 14:42] indiciumx commented on #25
Issue was on the application and not wordpress:

Actions:

Standardized all Leaflet maps on all themes to standardize implementation as there were done several different ways including static images.

Changed all the basemap endpoints on the application to take the new basemap endpoints.

[2022-10-07 14:55] indiciumx commented on #26
Fixed.

[2022-10-11 17:55] sean-eagles opened #38 "GeoBase - Link off to CCOG in presence"
Suggestion from steering committee presentation.  Would there be somewhere to link off to the CCOG web presence somewhere in the community (most likely in resources).  Keep in mind that CCOG is linked to from GEO.ca through the Community homepage.

[2022-10-11 18:02] sean-eagles opened #39 "GeoBase - Layers that have not been updated in a long time"
from the Steering Committee meeting, we should figure out a strategy for layers that have not been updated lately.  Administrative Boundaries as an example hasn't been updated since 2005.  Do we feature them to push for renewal, do we minimize them, etc...

[2022-10-11 18:03] sean-eagles opened #40 "GeoBase - old website content"
There was an old GeoBase web presence, this may have content that we could use going forward.

[2022-10-11 18:06] sean-eagles opened #41 "GeoBase - Announcements and Updates"

[2022-10-11 18:23] sean-eagles opened #42 "User Story: Community updates"
_Source: Geobase Steering Committee_

As a community administrator, I would like to be able to provide updates as needed, to ensure that my community is engaged and kept up to date with latest content.

[2022-10-11 18:25] sean-eagles opened #43 "GeoBase - documentation and product delivery"
When we have delivery of a new product there should be accompanying documentation that gets delivered at the same time.

[2022-10-11 18:31] sean-eagles opened #44 "GEO.ca - longtailed search"

[2022-10-11 19:26] sean-eagles opened #45 "GeoBase - set a forum topic on GCColab"

[2022-10-12 17:48] sean-eagles opened #46 "Ensure content is not duplicated"
_Source: GeoBase Steering Committee_

Ensure that content that appears in the community, and external sites, are not duplicated.

[2022-10-12 17:50] sean-eagles opened #47 "GeoBase - Forum"

[2022-10-12 17:53] sean-eagles opened #48 "GeoBase - Updates and feeds"

[2022-10-12 17:55] sean-eagles opened #49 "GeoBase - Question: who is the owner?"
Questions to those involved, who is the owner when it comes to GeoBase or other communities?

[2022-10-13 02:46] indiciumx opened #50 "Administrative Theme Map Issue"
Theme Administration >> map: Limites législatives des parcs nationaux et des réserves à vocation de parc national du Canada >> preview working, full map: layer do not load

[2022-10-13 02:46] indiciumx opened #51 "Emergency Theme Issue"
Theme Urgences >> map: Tremblements de terre au Canada >> "VOIR EN PLEIN ÉCRAN" still links to the Dataset page, not to the map directly

[2022-10-13 02:47] indiciumx opened #52 "Environment Theme Issue"
Theme Environment >> map: Critical Habitat — Species at Risk — Canada >> map and preview not the same layer shown
Same issue with the French version

[2022-10-13 02:47] indiciumx opened #53 "Society Theme Issue"
Theme Société >> under map: ActionGrippe >> there is an extra graphic (map) displayed following the map description. Need to be deleted.

[2022-10-13 02:47] indiciumx opened #54 "Economy Theme Issue"
Theme Economy >> map: Indigenous Mining Agreements (Active)  >> preview shows only the (Inactive) layer, the (Active) layer is not displayed. Inconsistent with the full map display. Same issue for the French preview >> It is up to you to decide if change is required.

[2022-10-13 15:35] indiciumx commented on #50
Issue is with the french service and not the application. Question for Data Team or Johann

[2022-10-13 15:41] indiciumx commented on #51
Fixed.

[2022-10-13 15:53] indiciumx commented on #52
Fixed.

[2022-10-13 15:55] indiciumx commented on #53
Fixed.

[2022-10-13 16:01] indiciumx commented on #54
Fixed to active.

[2022-10-13 21:44] jvanulde opened #55 "Enable search engine indexing"
In preparation of the official launch of Geo.ca in mid-November we need to ensure that search engine indexing is enabled and functioning.

[2022-10-14 02:42] indiciumx commented on #55
@PVautour after our meeting with Google, did you ever look further into the SEO kit

[2022-10-14 16:52] indiciumx opened #56 "Create Dynamic Community Page"
Create a shortcode / plugin to display community information dynamically on the wordpress frontend.

[2022-10-14 19:36] jvanulde commented on #27
OpenDRR has Earthquake scenarios: https://opendrr.github.io/earthquake-scenarios/

The service endpoints are not published on that site yet, but we do have them and they are available via the Earthquake Scenario Catalogue collection in the FGP.

For example: https://gcgeo.gc.ca/geonetwork/metadata/eng/9a1d59b4-da0b-4792-a645-44b4ef70a219

[2022-10-17 17:04] jvanulde opened #57 "Communities"
Communities support in Geo.ca

[2022-10-17 19:47] pvautour commented on #55
I don't know about an SEO kit, but I believe the main solution we concluded would be suitable was to manually create a robots.txt that would contain urls to every public page that we want crawled.

Would that suit our needs ?

[2022-10-17 19:55] Andrea-Merry opened #58 "The Bâtiments extraits automatiquement is missing from the French map gallery on Geo.ca"
An email was sent by Mykhailo on October 17th indicating the Bâtiments extraits automatiquement map is missing from the French map gallery page on Geo.ca. It needs to be added to the map gallery.
Thank you,
Andrea

[2022-10-17 19:59] jvanulde commented on #55
I will defer to @indiciumx for direction.

[2022-10-19 12:00] pvautour commented on #55
Ok so it's not actually the robots.txt file that is appropriate for this. It is the sitemap.xml.

I am throwing together a quick function to fetch id's from the database and generate sitemap files pointing to those pages.

One sitemap is limited to 50MB (uncompressed) and 50,000 URLs, but you can create one root sitemap that points to the others. In theory this means that it should not be much of

[2022-10-19 14:34] jvanulde commented on #30
Duplicated by #9

[2022-10-19 14:34] #30 closed

[2022-10-20 13:41] ehfounder opened #59 "Internal IP Range change"
Recent internal IPs have changed. Allow lists must reflect the changes in dev and staging for both site and application.

[2022-10-20 15:05] jvanulde opened #60 "CCMEO Web Presence"

[2022-10-21 12:00] pvautour commented on #55
@indiciumx

Hello,

I have a lambda generating the sitemaps for all files in a bucket here:

https://ca-central-1.console.aws.amazon.com/lambda/home?region=ca-central-1#/functions/pascal-generate-sitemap?tab=code

Just have to set the correct permissions and environment variables to generate the files and store them in s3.

Two questions:

- Do you prefer dropping the generated at the root of the

[2022-10-21 14:11] Andrea-Merry opened #61 "Geo.ca survey"
Please go ahead and put the following survey on GEO.ca. Having a pop-up box on the main page with the survey is the preference. Second choice would be under In the Spotlight on the main page.
You can go ahead and move Heather’s survey to prod as well.
Let me know when both are up on production.
Thank you,
Andrea
English
Your feedback is important to us. In order to improve our platform and your ex

[2022-10-24 19:17] jvanulde commented on #7
@Andrea-Merry please review on DEV and provide feedback.

[2022-10-24 19:25] Andrea-Merry commented on #7
Looks good! Please push to production.

[2022-10-24 20:38] jvanulde commented on #61
This appears to duplicate in part issue #7. @Andrea-Merry please confirm and perhaps it makes sense to make this issue about the Geo.ca survey?

[2022-10-24 21:01] jvanulde commented on #6
@Andrea-Merry please provide @indiciumx with access to GCDocs or if the information is not protected just add the docs here.

[2022-10-24 21:07] jvanulde commented on #55
@indiciumx @PVautour  should we put the Lambda code in this repo?

[2022-10-25 13:38] pvautour commented on #55
I don't think so no. It should probably be eater:

- in it's own little repo
- in a 'utils' repo containing many little helper lambdas

Though we could also do a monorepo style system. I wich case the source code/cloudformation for the lambda could be put in a folder within the monorepo.

I dont think we want to deploy the resulting sitemaps in this repo. I will discuss deployment of the sitemaps

[2022-10-25 14:16] ehfounder commented on #61
@Andrea-Merry do you have access to the survey monkey account? Sometimes they have a "Add a popup survey" code already provided. If they do, it would be better to use that as they would have made sure it was accessible compared to making one ourselves.

[2022-10-25 14:37] Andrea-Merry commented on #61
@indiciumx I do not have access. Isabelle Paradis is the one who coordinated it with Rob Thorpe from comms.

[2022-10-25 16:54] jvanulde commented on #55
@PVautour @indiciumx should this be a monorepo? If so, what repos should/could be included?

[2022-10-25 18:12] Andrea-Merry commented on #6
I think this issue is done. I sent Chris the files awhile ago.

[2022-10-25 18:39] Andrea-Merry commented on #61
@jvanulde This issue is about the GEO.ca survey from Isabelle Paradis that Steve would like in a pop up box on the home page of GEO.ca. Issue #7 is to put the Basemap Survey provided by Heather Martin on the GEO in the news page.
Two different surveys asked by two separate people at different times.

[2022-10-25 19:13] pvautour commented on #55
@indiciumx Ok so the sitemaps are here:

`s3://webpresence-geocore-misc-stage/Sitemaps/`

there is a `sitemap.xml` at the root that you would want at the root of the site. Check the content of the root sitemap to figure out where to place the rest.

@jvanulde There is still a few improvements to do to the lambda before we can close the issue, but this should be suitable for our immediate needs.

[2022-10-25 21:18] jvanulde commented on #55
@indiciumx how are we going to test this? I suppose we can put it in a public directory and have Google index it.

[2022-10-25 21:32] jvanulde commented on #54
@indiciumx was this a bug or an enhancement? Please label appropriately. As well, please assign this issue to the reviewer if it's ready.

[2022-10-25 21:42] jvanulde commented on #33
Duplicated by #8

[2022-10-25 21:42] #33 closed

[2022-10-25 21:42] jvanulde commented on #34
Duplicated by #10

[2022-10-25 21:42] #34 closed

[2022-10-25 21:43] jvanulde commented on #35
Duplicated by #11

[2022-10-25 21:43] #35 closed

[2022-10-25 21:45] jvanulde commented on #37
@jolevesq I think we need to rewrite this as a User Story and create some feature specifications. Perhaps it lives in another repo?

[2022-10-25 21:58] jvanulde commented on #50
@jolevesq can you take a look an reassign/move the issue as required, please? Thx.

[2022-10-26 19:53] jvanulde opened #63 "User Story: Popularity and date filters"
As a user, I would like to have the site rank the content based on popularity, so that I may determine what geospatial resources are most important to Canadians.

[2022-10-27 13:53] jvanulde commented on #7
@indiciumx let's move to production.

[2022-10-27 14:04] jvanulde commented on #53
@indiciumx does this need review or can we push it to production?

[2022-10-27 14:05] jvanulde commented on #52
@indiciumx does this need review or can we push it to production?

[2022-10-27 14:06] jvanulde commented on #51
@indiciumx does this need review or can we push it to production?

[2022-10-27 14:24] jvanulde commented on #6
@Andrea-Merry can you please review on DEV and suggest changes or approve for PROD.

[2022-10-28 15:32] jvanulde opened #64 "User Story: Bounding Box Disaggregation"
As a user, I would like to be able to receive geographically relevant results, so that I can find resources more efficiently.

Data sources:
* [ ] [WMS](https://github.com/Canadian-Geospatial-Platform/wms-to-json)
* [x] [ESRI REST](https://github.com/Canadian-Geospatial-Platform/geodatabase-to-json)
* [x] [Shapefile](https://github.com/Canadian-Geospatial-Platform/shapefile-to-json)
* [x] [File Ge

[2022-10-31 13:58] Andrea-Merry commented on #6
Approved for PROD.

[2022-10-31 15:22] jvanulde commented on #6
@indiciumx please push to PROD and close this issue when done. Thx.

[2022-10-31 18:44] Andrea-Merry opened #65 "Updating alt text for images on Geo.ca"
_Source: Email from Carli Rosenbaum on October 26th, 2022_

With the first few months of reporting, we have come across items to be updated to improve analytics tracking. The update is as follows:

**Update alt text for images**
When a visitor clicks on an image link, some of the data that is collected is the alt text. For example, when I click on the “GEO in the News” image, what is captured in s

[2022-10-31 20:18] jvanulde commented on #65
I believe that the links should be implemented as:

`<a href="#" alt="Geo in the News link"><img src="#" alt="Hand reaching towards sunset image" /></a>`

@indiciumx do you have thoughts on this? @Andrea-Merry can you check with the originator to see if the above solution would work?

[2022-11-01 12:01] Andrea-Merry commented on #65
@indiciumx I will check with Carli and get back to you.

[2022-11-01 13:32] Andrea-Merry commented on #65
Source: _Email from Carli Rosenbaum on November 1, 2022_
@jvanulde @indiciumx

Unfortunately, the Adobe Analytics tracking is setup that when an a image is used as a “link”, the alt text for that image is collected as the click value. In the case for the proposed solution, the value that would be collected is “Hand reaching towards sunset image” rather than the alt text in the <a> tag (Geo in the

[2022-11-01 15:01] jvanulde commented on #65
The problem is that solution would fail accessibility guidelines. The link should have alt text. We'll likely need to duplicate the alt text. @indiciumx can estimate the level of effort to make this change?

[2022-11-02 19:28] jvanulde commented on #63
@SebastienDurand: thumbnails be a should have

[2022-11-02 19:36] jvanulde commented on #61
@indiciumx implement as a banner. @Andrea-Merry will send you the links.

[2022-11-02 19:49] jvanulde commented on #9
@sean-eagles to follow up with GeoBase

[2022-11-02 20:28] SebastienDurand commented on #63
Honestly visuals are key, it must be something visual

De : Joost van Ulden ***@***.***>
Envoyé : novembre 2, 2022 15:29
À : Canadian-Geospatial-Platform/geo.ca ***@***.***>
Cc : Sébastien Durand ***@***.***>; Mention ***@***.***>
Objet : Re: [Canadian-Geospatial-Platform/geo.ca] User Story: Popularity (Issue #63)

***Caution - email originated from outside of NRCan. Read the warning below / Atten

[2022-11-02 20:32] sean-eagles commented on #9
Scheduled a meeting for November 9, 2022 for follow up and next steps.

[2022-11-03 13:39] Andrea-Merry commented on #61
@indiciumx
Here are the links for the GEO.ca survey. Let me know when it is ready for review.
Thank you,
Andrea
EN: [https://www.surveymonkey.ca/r/2MW7KJK](https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.surveymonkey.ca%2Fr%2F2MW7KJK&data=05%7C01%7Candrea.merry%40NRCan-RNCan.gc.ca%7Cfbfed6481fc74931133008dabd003ee6%7C05c95b3390ca49d5b644288b930b912b%7C0%7C0%7C6380301060018503

[2022-11-03 13:48] Andrea-Merry opened #66 "Incorrect value for the meta data property"
The meta property `<meta name="dcterms.service" content="NRCan-RNCan">` has an incorrect value. Would it be possible to have this updated to:

`<meta name="dcterms.service" content="NRCan-RNCan_FGP">`

[2022-11-07 16:53] jvanulde commented on #32
@Andrea-Merry this is content development related. Did you want to move to Redmine? If so please close this with note stating where it went.

[2022-11-07 16:55] jvanulde commented on #31
@Andrea-Merry can this be moved to Redmine as it's a content development activity?

[2022-11-07 17:31] jvanulde commented on #48
@sean-eagles can we describe this feature please?

[2022-11-07 19:23] Andrea-Merry commented on #32
@jvanulde https://redmine.gcgeo.gc.ca/redmine/issues/28444

[2022-11-07 19:23] #32 closed

[2022-11-07 19:34] Andrea-Merry commented on #31
@jvanulde https://redmine.gcgeo.gc.ca/redmine/issues/28445

[2022-11-07 19:34] #31 closed

[2022-11-07 19:39] sean-eagles commented on #48
Being able to email or provide feeds to community members and users.  RSS or mass emails for newly released products, news on issues on the site, updated material, etc...

[2022-11-07 20:00] sean-eagles commented on #64
|WMS to JSON|Modules|ArcPy|QGIS or GDAL tool/name|
|-----------|-------|-----|----------------------|
|           |requests|     |                      |
|           |arcpy|     |                      |
|           |comtypes|     |                      |
|           |os|     |                      |
|           |sys|     |                      |
|           |arcview|     |                      |
|

[2022-11-07 20:56] jvanulde commented on #44
@sean-eagles can you remind me who made this comment? We should address it one way or another. Perhaps ask the originator to provide more details and/or suggest improvements.

[2022-11-07 21:02] jvanulde commented on #49
The product owner for Communities is @SebastienDurand at this time.

[2022-11-07 21:02] #49 closed

[2022-11-07 21:07] sean-eagles commented on #44
The comment was originally made by James Ashton after the GeoBase demo was presented at the steering committee

[2022-11-07 21:16] jvanulde commented on #46
Not sure how we can deliver on this. At a minimum, duplication will occur with Open Maps.

[2022-11-07 21:17] sean-eagles commented on #46
After bringing this up with Sebastien he said that some redundancy is okay and sometimes needed.

[2022-11-07 21:26] jvanulde commented on #47
Closing this as this is not a feature request. We can reopen if there is a desire to create a forum or discussion space within the platform.

[2022-11-07 21:27] jvanulde commented on #45
Related to or perhaps duplicative of #47 so I am closing.

[2022-11-07 21:27] #45 closed, assigned to nobody

[2022-11-07 21:34] jvanulde commented on #43
This appears to be a requirement of the community administrator and not the platform. Closing for now.

[2022-11-07 21:34] #43 closed

[2022-11-07 21:47] jvanulde commented on #40
This appears to be a requirement of the GeoBase team. Closing for now.

[2022-11-07 21:47] #40 closed

[2022-11-07 22:03] jvanulde commented on #39
Could this be handled or addressed by #63 @indiciumx? I don't think the updated date should impact how content is sorted by default. Rather default sort should be determined by popularity.

[2022-11-07 22:15] jvanulde commented on #37
This appears to be addressed in [geoview-api-geolocator](https://github.com/Canadian-Geospatial-Platform/geoview-api-geolocator) so closing.

[2022-11-07 22:15] #37 closed

[2022-11-07 22:40] jvanulde commented on #38
@sean-eagles I believe you mocked something up for this?

[2022-11-07 22:42] jvanulde commented on #36
I've reached out to Cameron to provide additional information.

[2022-11-07 22:44] jvanulde commented on #29
Fixed and available on DEV for review.

[2022-11-08 14:10] sean-eagles commented on #39
Yes, I would leave it in @indiciumx's hands and I agree that popularity is a good way to go.

[2022-11-08 14:16] sean-eagles commented on #38
@jvanulde we haven't officially inserted it on a page yet, but maybe this is something that we can bring up in our meeting with Cindy on Wednesday.

[2022-11-09 18:11] jvanulde opened #67 "User Story: Collections"
As a user, I would like to be able to browse dataset collections using parent-child relationships, so that I can efficiently browse available and relevant resources.

[2022-11-09 20:09] Andrea-Merry opened #68 "New logo on GEO.ca"
NRCan comms designed a new logo to be implemented on GEO.ca.

@indiciumx ,
What do you need in order for you to implement the new logo on GEO.ca? I will ask comms to provide what you need.
Resolution? Format? etc
Thank you,
Andrea

[2022-11-09 20:22] Andrea-Merry opened #69 "GEO.ca Infected message"
Andre Pregent messaged me last night saying that when he was looking for old NAPL pictures on GEO.ca he kept getting a message that said GEO.ca was infected. See attached screenshot.
Thanks,
Andrea
<img width="603" alt="NAPLError" src="https://user-images.githubusercontent.com/112396545/200933720-b4f40bc7-81aa-4e4c-83f4-54718afb271f.PNG">

[2022-11-09 21:46] jvanulde commented on #69
This issue has been identified by J.F. Bourgon as originating with the data cube and as such, there isn't anything that we can do on our end. Action has been taken at GeoBase to resolve this.

[2022-11-10 18:48] sean-eagles commented on #6
@indiciumx  I am looking to put extra eyes on this issue, could you please send me a link where the maps have changed please?

[2022-11-10 18:50] sean-eagles commented on #24
@indiciumxHey looking to put extra eyes on this issue also, could you please provide URL?

[2022-11-10 18:52] sean-eagles commented on #7
I see it well on DEV.

[2022-11-10 19:00] sean-eagles commented on #26
Both French and English are showing the Indigenous Mining Agreements image properly, and load over to maps upon click fine.

[2022-11-10 19:12] sean-eagles commented on #28
Title link and "Full Map" link point to the Road Network, properly in both languages also.

[2022-11-10 19:15] sean-eagles commented on #29
Legislative Boundaries of Aboriginal Lands and Aboriginal Agreement;s title and full map when clicked go to the proper map.  Works in both languages.

[2022-11-10 19:25] sean-eagles commented on #54
https://app-dev.geo.ca/result?id=488faf70-b50b-4749-ac1c-a1fd44e06f11&lang=en
That shows the Indigenous Mining Agreements, both active and expired.  This has the proper title for the map, I don't see one in the catalogue for just active.  Suggest changing the titles to Indigenous Mining Agreements.

[2022-11-10 19:32] sean-eagles commented on #61
Banner working and redirecting to survey for GEO.ca survey.

[2022-11-10 19:36] sean-eagles commented on #53
I don't see the issue anymore on English or  French pages.

[2022-11-10 19:39] sean-eagles commented on #52
Fixed in French and English.

[2022-11-10 19:42] sean-eagles commented on #51
Fixed, goes to proper map for both languages, title and full screen links.

[2022-11-10 20:54] jvanulde commented on #68
@Andrea-Merry please check with @sean-eagles to see if he can update the logo in the header.

[2022-11-10 21:04] sean-eagles commented on #68
@jvanulde and @Andrea-Merry; sorry, unfortunately I'm not sure how to alter the main header to all pages.

[2022-11-14 13:07] Andrea-Merry commented on #68
@indiciumx @jvanulde @sean-eagles
Here is what you need to update the logo on GEO.ca. Let me know if you need anything else.
https://drive.google.com/file/d/1aIacOwJUZp5grcksAEEkZQntPvOuSlD5/view

[2022-11-14 15:50] elatsis commented on #59
@indiciumx Please close this if done

[2022-11-14 15:53] elatsis commented on #58
@indiciumx can you please provide an update on this?

[2022-11-14 16:00] sean-eagles commented on #58
Automatically extracted building show up on the English gallery, but not on the French side, issue still open.

[2022-11-14 16:58] xinli-cai opened #70 "User Story: STAC on geo.ca"
As a user, I would like to search open datasets from the SpatialTemporalAssetCatalog (STAC) on geo.ca, so that I can view STAC data at the item level.
An example EO STAC:
-  [CCMEO Datacube ](https://datacube.services.geo.ca/en/index.html)
- [Collection level example](https://datacube.services.geo.ca/api/collections/napl-ottawa)
- [Item level example](https://datacube.services.geo.ca/api/collectio

[2022-11-14 18:37] pvautour opened #71 "Data loss on import from hnap"
There is room for improvement in the lambda we use to bring hnap exports to geojson.

This work will mainly consist of a rewrite of geocore_Transformation_Lambda. It is currently visible under geocore_Transformation_Lambda_Nodejs_16 in dev.

[2022-11-14 18:53] xinli-cai opened #72 "[MVP] Recommend similar records on geo.ca"
When I search and enter the metadata page for a record, I would like to be recommended for the top five similar records, so that I can review related records on geo.ca.

Requirements:
- [x] Create Jupyter Notebooks for data visualization and comparison of vector-based text similarity models.
- [x] Develop a data preprocessing lambda to facilitate text cleaning for natural language modeling.
- [x]

[2022-11-15 12:27] elatsis opened #73 "User Story: Publicly available development build"
As an external collaborator, I would like to have access to a development build of Geo.ca, so that I can review progress and provide feedback for improvements.

[2022-11-15 17:07] pvautour opened #74 "We need to improve site accessibility"
We need to go over the site with an accessibility inspector and make sure the site is usable for everyone.

Looking at it with the firefox accessibility inspector reveals that we could easily improve contrast, keyboard navigation and text labels.

[2022-11-15 19:53] sean-eagles commented on #6
Reviewed on Public site/prod, all changes have been done.

[2022-11-15 20:02] #6 closed

[2022-11-15 22:08] jvanulde commented on #67
Pushed to PROD and functioning.

[2022-11-15 22:08] #67 closed, assigned to nobody

[2022-11-15 22:09] jvanulde commented on #7
Pushed to PROD and functioning.

[2022-11-15 22:09] #7 closed

[2022-11-15 22:14] jvanulde commented on #61
Pushed to PROD and functioning.

[2022-11-15 22:14] #61 closed, assigned to indiciumx

[2022-11-15 22:16] jvanulde commented on #68
Pushed to PROD.

[2022-11-15 22:16] #68 closed, assigned to indiciumx

[2022-11-15 23:31] jvanulde opened #76 "Search is not returning expected results"
When I search for "National Earthquake Scenario Catalogue" which is the title of a resource in Geo.ca the search result returns unrelated resources. Ideally, if the search term is the title of a resource, that resource should be at the top of the list.

[2022-11-15 23:51] jvanulde commented on #73
@elatsis lets set up an engineering meeting with @bo-lu, @indiciumx, @PVautour and @jolevesq to discuss options.

[2022-11-16 14:01] ehfounder commented on #76
@jvanulde
When you search National Earthquake Scenario Catalogue the query becomes
Record = National OR Earthquake OR Scenario OR Catalogue

When you search "National Earthquake Scenario Catalogue"
Record = National Earthquake Scenario Catalogue

It's the first record.

This is covered in the Search Operators of the help dialog box.

[2022-11-16 14:02] ehfounder commented on #73
Due to security rules, it can't happen.

[2022-11-16 15:28] jvanulde opened #77 "Script rendered in Contact Us page"
<img width="1639" alt="Screen Shot 2022-11-16 at 6 58 25 AM" src="https://user-images.githubusercontent.com/2255248/202222589-fffe45fd-ffff-4bf8-b4ed-1e1a699045d6.png">

[2022-11-16 17:19] jvanulde opened #78 "HTML Validation"
Add GitHub action to validate HTML markup.

[2022-11-16 17:24] jvanulde commented on #76
This issue is that people won't know to search that exact string.

[2022-11-16 17:26] jvanulde commented on #76
Can we rank the results according to how many times those words occur in a record whilst giving weight to title?

[2022-11-16 18:22] jvanulde opened #79 "In iOS logo is distorted"
Using iOS 16 on iPhone 13:

![IMG_3664E99EE1A3-1](https://user-images.githubusercontent.com/2255248/202261419-17a261f4-0dc9-47ac-bc8d-22d67667e679.jpeg)

[2022-11-16 19:21] bo-lu commented on #79
Appears fine on my iPhone, did you increase the font size on your phone?

[2022-11-16 19:23] jvanulde commented on #79
No but I do have Display Zoom enabled.

[2022-11-16 21:27] jvanulde commented on #73
This is a requirement so we need to find a workaround outside of our current constraints. I will point everyone to the [Policy on Digital](https://www.tbs-sct.canada.ca/pol/doc-eng.aspx?id=32603) which clearly states that design and development are to be user-driven. Our stakeholders are now external to the Government of Canada.

[2022-11-17 16:17] bo-lu opened #81 "User Story: Better and faster search results on geo.ca"
As a user, the search results and search speeds are not fast and responsiveness for an engaging experience.

Currently we are using AWS Athena for queries, it would be a good use of development resources to explore OpenSearch which is purpose built for searching

[2022-11-22 15:52] sean-eagles opened #82 "Prepare A demo page with accordions"

[2022-11-22 15:54] sean-eagles commented on #82
Created a demo page with accordions to propose to GeoBase as a one page solution to their content, other than gallery metadata pages.

[2022-11-23 17:34] jvanulde opened #83 "Mermaid Samples"
Mermaid diagrams are supported in GitHub! You can find many examples [here](https://github.com/mermaid-js/mermaid) but below you will see some common diagrams.

### Flowchart

[code]

### Sequence

[code]

### GANTT Chart

[code]
### Class Diagram

[code]

[2022-11-23 18:13] pvautour opened #84 "User Story: Users should be able to sign-in using their Sign-in Canada identity"
We need to add Sign-in Canada integrations for user authentication.

This will require the following steps:

- [x] Create cloudformations allowing deployment of a cognito instance integrated with sign-in canada as identity provider
- [x] Create a authoriser lambda that can be attached to api gateway to validate identity on reception of a request
- [x] Get dev environment up and running
- [ ] Organ

[2022-11-23 18:58] bo-lu opened #85 "User story: Automated test cases of the UI"
As a user, I want a useable website which has been thoroughly tested.

Usability testing tools we can explore can be the open source Selenium software

[2022-11-23 18:59] bo-lu opened #86 "User story: Automated unit testing of API"
As a user of APIs, I want to make sure that APIs are working properly and input/output behaviour is documented and consistent. Breaking changes must also be communicated to users (if known) prior to deployment.

[2022-11-23 19:01] bo-lu opened #87 "User story: Dashboard of live/down web mapping services"
As an administrator, I would like to know what web mapping services are live and down at any given time.

[2022-11-23 19:16] SebastienDurand commented on #81
This is a must have but prior to changing and selecting another suite of technology we must make sure we are leveraging to it best capacities our current solution. Other technology choice need to be discussed, reviewed and access against known objectives. An internal meeting is require to further advance this

[2022-11-23 19:41] bo-lu commented on #55
@PVautour @jvanulde

I looks like this work was done on dev/stage which has records that only exist on dev/stage.

The lambda should be run on prod.

For example, here are links that work (green) and don't exist on prod (red)

[code]

[2022-11-24 19:28] Andrea-Merry opened #88 "Wording on GEO.ca home page needs to be updated"
Source: Steve Dunning is requesting that the GEO.ca home page wording be changed to reflect the updated tagline.

Currently it reads:

**ENGLISH:** [Home - GEO.CA](https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgeo.ca%2Fhome%2Findex.html&data=05%7C01%7Candrea.merry%40NRCan-RNCan.gc.ca%7C82c13d67ec3545681c1008dacd731146%7C05c95b3390ca49d5b644288b930b912b%7C0%7C0%7C638048191329636

[2022-11-24 19:40] Andrea-Merry opened #89 "Copyright information needs to be updated on GEO.ca"
Source: email from Sean Hanna on November 24th, 2022.
Hi,
I was just looking at your viewer and noticed that the copyright information needs to be updated from:
![image](https://user-images.githubusercontent.com/112396545/203855054-bb5af943-d5a0-48d7-a00d-441ce19a00f4.png)

To:
© His Majesty the King in Right of Canada, as represented by the Minister of Natural Resources Canada, 2022
© Sa Majesté

[2022-11-24 20:22] sean-eagles commented on #38
Mocked up on the main page for GeoBase.  Can demo to GeoBase next week.

[2022-11-24 20:27] Andrea-Merry opened #90 "Request for mock-up: About Us page on GEO.ca"
Source: Steve Dunning will be doing a presentation to Eric about our content strategy and the edited About Us page. Steve would like to have the edited page done in Wordpress on DEV to showcase the content to Eric. Currently the page is in English only until approved by Eric.
I have provided the links to gcdocs below and I attached the files for your convenience.
Please do not hesitate to contact

[2022-11-24 20:31] Andrea-Merry opened #91 "Request for mock-up: NRCan/CCMEO page on GEO.ca"
Source: Steve Dunning will be doing a presentation to Eric about our content strategy and the new NRCan/CCMEO partner page. Steve would like to have the new page done in Wordpress on DEV to showcase the content to Eric. Currently the page is in English only until approved by Eric.
I have provided the link to gcdocs below and I attached the files for your convenience.
Please do not hesitate to cont

[2022-11-28 15:52] #21 closed

[2022-11-28 15:53] pvautour commented on #55
So the reason this was not run in prod, Is because we wanted to be able to release the sitemaps as content and not infra/code.

The plan was to generate the files in staging and then release them as the records where expected to have been the same.

We could eater reassess and deploy the code to prod on a timer, or realign content on staging and prod and rerun it.

@bo-lu @indiciumx

[2022-11-28 15:54] #58 closed, assigned to pvautour, indiciumx

[2022-11-28 15:57] #54 closed

[2022-11-28 15:58] #69 closed, assigned to indiciumx

[2022-11-28 15:58] #52 closed

[2022-11-28 15:58] #26 closed

[2022-11-28 15:59] #25 closed

[2022-11-28 15:59] #51 closed

[2022-11-28 15:59] #53 closed

[2022-11-28 15:59] #24 closed

[2022-11-28 15:59] #29 closed

[2022-11-28 16:01] #59 closed, assigned to indiciumx

[2022-11-28 16:10] #77 closed, assigned to indiciumx, bo-lu

[2022-11-28 16:11] elatsis commented on #76
Needs to be explored when we move to OpenSearch

[2022-11-28 19:25] bo-lu commented on #55
@PVautour

For this time, I think it is okay. Let's see if Google is able to pick up the sitemap.

For the next time, let me know and I will sync staging before the xml files are generates.

[2022-11-28 22:24] jvanulde opened #92 "Lighthouse Performance Test Results"
_Source: [geo.ca-lighthouse-report.pdf](https://github.com/Canadian-Geospatial-Platform/geo.ca/files/10107911/geo.ca-lighthouse-report.pdf)_

<img width="428" alt="Screen Shot 2022-11-28 at 2 11 47 PM" src="https://user-images.githubusercontent.com/2255248/204391742-6c02a93a-ecaf-4982-bed5-193ed1cd91e8.png">

### Consider the following tasks to improve performance:

* [ ] #117
* [ ] **Reduce unuse

[2022-11-29 16:11] pvautour commented on #55
Ok cool thanks bo!

[2022-11-29 17:21] jvanulde commented on #91
@elatsis can you follow up on this? We need a timeline. I think perhaps it needs to be added to this sprint.

@SebastienDurand @sean-eagles

[2022-11-29 17:21] jvanulde commented on #90
@elatsis can you follow up on this? We need a timeline. I think perhaps it needs to be added to this sprint.

@SebastienDurand @sean-eagles

[2022-11-29 18:13] jvanulde commented on #90
@Andrea-Merry if this is an urgent request please use the `priority: urgent` label 🙏

[2022-11-29 18:15] jvanulde commented on #91
@Andrea-Merry if this is an urgent request please use the `priority: urgent` label 🙏

[2022-11-29 18:24] Andrea-Merry commented on #90
Steve is requesting to have this completed by December 9th, 2022.

[2022-11-29 18:25] Andrea-Merry commented on #91
Steve is requesting to have this completed by December 9th, 2022.

[2022-11-29 18:50] elatsis commented on #90
@Andrea-Merry @jvanulde Great - I've assigned this to our current sprint.

[2022-11-29 18:51] elatsis commented on #91
@Andrea-Merry @jvanulde Great - I've assigned this to our current sprint.

[2022-11-29 19:08] SebastienDurand commented on #91
Due date is friday the 9th

[2022-11-29 22:44] jvanulde commented on #55
@PVautour please close if indexing is successful.

[2022-11-30 15:28] pvautour commented on #55
@indiciumx can you check if indexing is working?

[2022-11-30 15:28] jvanulde opened #93 "Old favicon on DEV WordPress"
WordPress in the development environment is using the old favicon.

[2022-11-30 15:31] jvanulde opened #94 "wordpress.dev.geo.ca URI resolves to Apache test page"
The wordpress.dev.geo.ca URI should resolve to https://wordpress.dev.geo.ca/wordpress/

[2022-11-30 20:04] sean-eagles commented on #93
Changed on DEV, @jvanulde if you can confirm it is working, then we can close this.